<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" charset="utf-8">
		<title>Document</title>
		<link rel="stylesheet" type="text/css" href="./static/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="./static/css/style.css" />
		<link rel="stylesheet" type="text/css" href="./static/css/common.css" />
		<link rel="stylesheet" type="text/css" href="./static/css/demostyle.css" />
		<script src="./static/js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="./static/js/ajaxupload.3.5.js" type="text/javascript" charset="utf-8"></script>
		<script src="./static/js/uploadimg.js" type="text/javascript" charset="utf-8"></script>
		<script src="./static/bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
		<script src="./static/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="./static/js/demo.js" type="text/javascript" charset="utf-8"></script>
		<style>
			body {
				padding-top: 50px;
				padding-bottom: 20px;
			}
		</style>
	</head>

	<body>
		<div class="coverdiv"></div>
		<div class="signup-div" id="signup-id">
			<button type="button" class="close">
			</button>
			<form class="form-signin" role="form" action="index.php?c=demo&a=signup" method="post">
				<h2 class="form-signin-heading">Please sign up</h2>
				<input type="text" id="username" name="username" class="form-control" placeholder="Email address" required autofocus>
				<input type="password" id="password" name="password" class="form-control psw1" placeholder="Password" required>
				<input type="password" class="form-control psw2" placeholder="Confirm Password" required>
				<div class="checkbox">
					<label>
						<input type="checkbox" value="remember-me"> Remember me
					</label>
				</div>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
			</form>
		</div>

		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Project name</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					{if ($status=="yes")}
					<span class="label label-success">
						{$login_flag}
					</span> {else}{if ($status=="no")}
					<span class="label label-warning">
						{$login_flag}
					</span>{/if}
					<form class="navbar-form navbar-right" role="form" action="index.php?c=demo&a=signin" method="post">
						<div class="form-group">
							<input type="text" id="username" name="username" placeholder="Email" class="form-control">
						</div>
						<div class="form-group">
							<input type="password" id="password" name="password" placeholder="Password" class="form-control">
						</div>
						<button type="submit" class="btn btn-success">Sign in</button>
						<a class="" href="http://www.baidu.com" id="signup">Sign Up</a>
					</form>
					{/if}
				</div>
				<!--/.navbar-collapse -->
			</div>
		</nav>
		<div class="fl col-xs-8">
			<center>
				<h1>留言板</h1><a href="index.php?c=demo&a=datemsg">查看留言日历</a>
			</center>
			<center>
				<p class="green">下一步 上传头像，并预览(已完成)</p>
				<p>下一步 登陆注册，加载更多</p>
			</center>
			<div class="mg-top-20"></div>
			<div class="msgs" id="msgs">
				{foreach from=$msgs item=msg key=k}
				<div class="mycontainer">
					<img src="{$msg['guest_portrait']}" alt="" class="guest-portrait" title={$msg[ "uname"]} />
					<span class="uname">{$msg["uname"]}</span>
					<img {if ($msg['sex'])==1}src="./static/pic/sex1.jpg"{else}src="./static/pic/sex2.jpg"{/if} alt="" class="usex" title={$msg[ "uname"]} />
					<span class="time">{date("Y-m-d H:i:s",$msg['ontime'])}</span>
					<br>
					<pre class="content">{$msg["content"]}</pre>
					<a class="dropmsg" href="index.php?c=demo&a=delmsg&id={$msg['id']}">
						<div class="content-close bd-r-100 display-none">×</div>
					</a>
				</div>
				{/foreach}
			</div>
		</div>
		<div class="box col-xs-4">
			<form role="form" action="index.php?c=demo&a=index" method="post">
				<div class="form-group">
					<label for="exampleInputEmail1">UserName</label>
					<input type="text" class="form-control" id="username" name="username" placeholder="Enter your name">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">上传头像</label>
					<label for="exampleInputEmail1" id="divpicview1">未选择文件</label>
					<div class="pos-r">
						<a class=" upload pos-a top-0">上传</a>
						<input type="file" class="upload display-none" id="upload" name="upload" placeholder="Enter your name">
						<img id="avatar1" src="" alt="" class="w-100 h-100 " />
					</div>
				</div>
				<label class="radio-inline">
					<input type="radio" name="sexRadio" id="sexRadio1" value="1" checked=""> Man
				</label>
				<label class="radio-inline">
					<input type="radio" name="sexRadio" id="sexRadio2" value="2"> Woman
				</label>
				<div class="form-group">
					<label for="content">Content</label>
					<textarea class="form-control" rows="3" id="content" name="content"></textarea>
				</div>
				<div class="alert alert-warning alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<strong>Warning!</strong> Better check yourself, you're not looking too good.
				</div>
				<input type="hidden" id="wimg1" name="wimg1" />
				<input type="hidden" id="wimgnm1" name="wimgnm1" />
				<button type="submit" id="addmsg" class="btn btn-default" onclick="check(this.form)">Submit</button>
			</form>
		</div>
	</body>

</html>